COLOR_TEXT_HIGHLIGHT = #a2b5c6
COLOR_TEXT_LIGHT = #bccddc
COLOR_TEXT_GRAY = #68727b

linear-gradient()
  background: -moz-linear-gradient(arguments)
  background: -webkit-linear-gradient(arguments)
  background: -o-linear-gradient(arguments)


#middle
  background: red
  margin: 0 auto
  margin-top: 15%
  width: 45%

  #story
    display: inline-block
    background: green

  #next
    display: inline-block
    background: green

  #enter
    display: inline-block
    background: green

    input.enter_text
      width: 17em

