COLOR_TEXT_HIGHLIGHT = #a2b5c6
COLOR_TEXT_LIGHT = #bccddc
COLOR_TEXT_GRAY = #68727b

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

#middle
  margin: 0 auto
  width: 45%

#end-marker
  width: 5px
  height: 5px
  color: red

#story-container
  position: relative

.read-more
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-linear-gradient(top, white, 0%, #FFFFFF00, 10%)

#next
  ul.suggestions
    list-style: none
    padding: .5em 1em
    li.suggestion
      display: inline
      padding: .1em .2em
      span.votes
        background: #cd853f
        border-radius: .3em
        padding: .1em .2em