COLOR_TEXT_HIGHLIGHT = #a2b5c6
COLOR_TEXT_LIGHT = #bccddc
COLOR_TEXT_GRAY = #68727b

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

@font-face
  font-family: 'Libre Baskerville'
  font-style: normal
  font-weight: 400
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url('/fonts/lib/baskerville.woff') format('woff')

@font-face
  font-family: 'Libre Baskerville'
  font-style: italic
  font-weight: 400
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url('/fonts/lib/baskerville-italic.woff') format('woff')

#story-container
  font-family: 'Libre Baskerville'
  font-size: 14pt

#middle
  margin: 0 auto
  width: 45%

#end-marker
  width: 5px
  height: 5px
  color: red

#story-container
  position: relative

  div:nth-child(4):after
    content: '<div class="spacer"></div>'

.read-more
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-linear-gradient(top, white, 0%, #FFFFFF00, 10%)

#next
  display: inline-block
  vertical-align: top
  transition: height 0.5s
  -webkit-transition: height 0.5s

  ul.suggestions
    margin: 1em 0;
    list-style: none
    line-height: 40px
    position: absolute

    li.suggestion
      display: inline-block
      padding: .1em .2em
      vertical-align: middle
      position: relative

      transition: all 0.5s
      -webkit-transition: all 0.5s

      span.votes
        border: 1px solid #333
        border-radius: .3em
        padding: .1em .2em

      span.block
        font-family: 'Libre Baskerville'
        font-style: italic2

  ul.suggestionsShown
    position: relative

    li.suggestion
      display: block
      position: absolute
      opacity: 0
